{% extends 'base.html' %}

{% block meta_title %}
    SELVOC/HOME
{% endblock %}
{% block content %}
    {% load i18n %}
{% load static %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'wordbook/home.css' %}">

<head>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <meta charset="utf-8">
  <meta name="add-word" content="width=device-width, initial-scale=1">
</head>

<body style="background: #939393">
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
</body>

    <!-- グローバルナビゲーション -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h1>SELVOC</h1>
      <h2 style="margin-left: 2%">Home</h2>
    <ul class="navbar-nav mr-auto">
    </ul>
{#      <a class="nav-link" href="{% url 'wordbook:home' %}">Home</a>#}
      <a class="nav-link" href="{% url 'wordbook:add_word' %}">Add</a>
      <a class="nav-link" href="{% url 'wordbook:quiz_list' %}">Practice</a>
      <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
  </div>
</nav>

<div class="modal fade" tabindex="-1" role="form" id="add-word">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        {% include 'wordbook/word_add.html' %}
    </div>
  </div>
</div>


<div style="width: 200px; z-index: 10; position: fixed; right: 4%; bottom: 13%; height: 83px;">
       <a class="fa fa-plus" data-toggle="modal" data-target="#add-word" style="font-size:150px;color:rgb(66,255,134)">
{#                   <i class="fa fa-plus" style="font-size:150px;color:rgb(255,89,133)"></i>#}
       </a>
</div>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".add-word").modalForm({
                formURL: "{% url 'wordbook:add_word' %}"
            });
        });
    </script>



{% if queryset %}
    <form class="col-md-12">
            <table border="3" class="wordbook">
             <thead>
                <tr>
                    <th>単語</th>
                    <th>品詞</th>
                    <th>意味</th>
                    <th></th>
                </tr>
             </thead>
            <tbody>
                {% for entry in queryset %}
                <tr>

                    <td>{{ entry.vocab }}</td>
                    <td>{{ entry.vocab_class }}</td>
                    <td>{{ entry.vocab_meaning }}</td>
{#                    <td>{{ entry.id }}</td>#}
                    <td>
                        <form method="POST" action="{% url 'wordbook:delete_word' entry.id %}">{% csrf_token %}
                             <button type="submit"><i class="fa fa-minus" style="font-size:10px;color:lightseagreen"></i></button>
                        </form>
                    </td>
	        	</tr>
                        {% endfor %}
            </tbody>
            </table>
                {% include 'wordbook/paginate.html' %}
{#    {% include 'wordbook/word_add.html' %}#}
{#                   {% include 'wordbook/word_add.html' %}#}

{##}
{#<div style="width: 200px; z-index: 10; position: fixed; right: 4%; bottom: 13%; height: 83px;">#}
{#   <a class="btn" href="{% url 'wordbook:add_word' %}">#}
{#        <i class="fa fa-plus" style="font-size:150px;color:rgb(251,244,255)"></i></a>#}
{#</div>#}
{#    <div style="width: 200px; z-index: 10; position: fixed; right: 4%; bottom: 13%; height: 83px;">#}
{#   #}
{#    </div>#}

    </form>
{% else %}
            <p>{% trans "No Word Registered. Register One Now!" %}.</p>
{% endif %}

{% endblock %}