{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block meta_title %}
SELVOC/{{ quiz.name }}
{% endblock %}
{% block content %}
{% load static %}
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'wordbook/home.css' %}">
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h1 class="mb-3">{{ quiz.name }}</h1>
  <p align="center" class="lead">{{ question.game_word }}</p>
  <div align="center">
    <form method="post" novalidate>
    {% csrf_token %}
    <ul>
        {% for form in quiz_form %}
            <li>
            {{ form }}
            </li>
        {% endfor %}
    </ul>
        {{ question_form.as_table }}
    <button type="submit" class="btn btn-primary">Next →</button>
    </form>
  </div>
{% endblock %}
