{% extends 'base.html' %}
{% block content %}
    <form class="col-md-12">
        <h3 align="center">{{ user }}'s 単語帳</h3>
            <table border="3" class="container">
                <tr align="center">
                    <th>単語</th>
                    <th>品詞</th>
                    <th>意味</th>
{#                    <th>ID</th>#}
                    <th></th>
                </tr>
            {% for entry in show_list %}
                <tr align="center">
                    <td>{{ entry.vocab }}</td>
                    <td>{{ entry.vocab_class }}</td>
                    <td>{{ entry.vocab_meaning }}</td>
{#                    <td>{{ entry.id }}</td>#}
                    <td><form method="POST" action="{% url 'wordbook:delete_word' entry.id %}">
                        {% csrf_token %}<input type="submit" class="btn btn-primary" value="削除"></form>
                    </td>
	        	</tr>
            {% endfor %}
            </table>
        {% include 'wordbook/paginate.html' %}
    </form>
    <div align="center">
        <a class="btn btn-primary" href="{% url 'wordbook:add_word' %}">単語追加</a>
        <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
        <a class="btn btn-primary" href="{% url 'wordbook:repeated_game' %}">反復ゲームへ</a>
    </div>
{% endblock %}