{% extends 'base.html' %}

{% block meta_title %}
    SELVOC/HOME
{% endblock %}
{% block content %}
    {% load i18n %}
{% load static %}
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'wordbook/home.css' %}">
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- グローバルナビゲーション -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h1>SELVOC</h1>
      <h2 style="margin-left: 2%">Home</h2>
    <ul class="navbar-nav mr-auto">
    </ul>
{#      <a class="nav-link" href="{% url 'wordbook:home' %}">Home</a>#}
      <a class="nav-link" href="{% url 'wordbook:add_word' %}">Add</a>
      <a class="nav-link" href="{% url 'wordbook:game_list' %}">Practice</a>
      <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
  </div>
</nav>
<body style="background: #939393">
<div class="container">
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
{% if queryset %}
    <form class="col-md-12">
            <table border="3" class="wordbook">
             <thead>
                <tr>
                    <th>単語</th>
                    <th>品詞</th>
                    <th>意味</th>
                    <th></th>
                </tr>
             </thead>
            <tbody>
                {% for entry in queryset %}
                <tr>

                    <td>{{ entry.vocab }}</td>
                    <td>{{ entry.vocab_class }}</td>
                    <td>{{ entry.vocab_meaning }}</td>
{#                    <td>{{ entry.id }}</td>#}
                    <td>
                        <form method="POST" action="{% url 'wordbook:delete_word' entry.id %}">{% csrf_token %}
                             <button type="submit"><i class="fa fa-minus" style="font-size:10px;color:lightseagreen"></i></button>
                        </form>
                    </td>
	        	</tr>
                        {% endfor %}
            </tbody>
            </table>
                {% include 'wordbook/paginate.html' %}
{#                   {% include 'wordbook/word_add.html' %}#}

{##}
{#<div style="width: 200px; z-index: 10; position: fixed; right: 4%; bottom: 13%; height: 83px;">#}
{#   <a class="btn" href="{% url 'wordbook:add_word' %}">#}
{#        <i class="fa fa-plus" style="font-size:150px;color:rgb(251,244,255)"></i></a>#}
{#</div>#}
{#    <div style="width: 200px; z-index: 10; position: fixed; right: 4%; bottom: 13%; height: 83px;">#}
{#   #}
{#    </div>#}
    </form>
{% else %}
            <p>{% trans "No Word Registered. Register One Now!" %}.</p>
{% endif %}

</body>
{% endblock %}