{% extends 'base.html' %}
{% load i18n %}
{% block meta_title %}
    SELVOC/PRACTICE
{% endblock %}

{% block content %}
    {% load static %}
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="all" href="{% static 'wordbook/home.css' %}">
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- グローバルナビゲーション -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <h1>SELVOC</h1>
      <h2 style="margin-left: 2%">Practice</h2>
    <ul class="navbar-nav mr-auto">
    </ul>
{#      <a class="nav-link" href="{% url 'wordbook:home' %}">Home</a>#}
      <a class="nav-link" href="{% url 'wordbook:home' %}">Home</a>
      <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
  </div>
</nav>

{#h5>{% trans "List of quizzes" %}</h5>#}


    {% if queryset %}
		<table class="table table-bordered table-striped">
		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
{#			  <th>{% trans "Category" %}</th>#}
			  <th>{% trans "Exam" %}</th>
			  <th>{% trans "Single attempt" %}</th>
{#			  <th></th>#}
			</tr>
		  </thead>

		  <tbody>
        {% for q in queryset %}

  			<tr>
			  <td><a href="{% url 'wordbook:game_detail' slug=q.url %}">
              {{ q.title }}</a>
              </td>
{#			  <td>{{ quiz.category }}</td>#}
			  <td>{{ q.exam_paper }}</td>
			  <td>{{ q.single_attempt }}</td>
{#			  <td>#}
{#				<a href="{% url 'wordbook:game_detail' slug=q.url %}">#}
{#				  {% trans "View details" %}#}
{#				</a>#}
			</tr>

        {% endfor %}
            {% include 'wordbook/paginate.html' %}
		  </tbody>

		</table>
	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
    <div style="width: 200px; z-index: 10; position: fixed; right: 0.5%; bottom: 5%; height: 83px;">
    <form method="POST" action="{% url 'wordbook:game_add' %}">{% csrf_token %}
      <button type="submit" class="btn btn-primary">クイズ作成</button>
     </form>
    </div>
{% endblock %}
