{% extends 'base.html' %}

{% block content %}
{#    <div style="bottom: 30%;">#}
{#    <form action="" method="post">{% csrf_token %}#}
{#        <div align="center">#}
{#            {% for field in form %}#}
{#                <div class="ui input{% if field.errors %} error{% endif %}" align="center">#}
{#                    {{ field }}#}
{#                {% if field.errors %}#}
{#                    <p>{{ field.errors.0 }}</p>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}
{#            <div align="center">#}
{#                <button type="submit" class="btn btn-primary">追加</button>#}
{#                <a class="btn btn-primary" href="{% url 'wordbook:home' %}">戻る</a>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
{#    </div>#}
    {% load static %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'wordbook/home.css' %}">
	<div style="margin-left: 40%; margin-top: 15%;">
				<form action="" method="post">{% csrf_token %}
                        {% for field in form %}
                            {{ field }}
                            {% if field.errors %}
                            <p>{{ field.errors.0 }}</p>
                            {% endif %}
                    {% endfor %}
					<button type="submit">ADD</button>
				</form>
{% endblock %}
{##}
{##}
{#<!-- Button trigger modal -->#}
{# <div style="width: 200px; z-index: 10; position: fixed; right: 0; bottom: 10%; height: 83px;">#}
{#<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">#}
{#  <i class="fa fa-plus" style="font-size:100px;color:lightseagreen"></i>#}
{#</button>#}
{# </div>#}
{##}
{#<!-- Modal -->#}
{##}
{#<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#    <form class="well" method="post" action="">{% csrf_token %}#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#           <div class="form-group">#}
{#                    {% for field in form %}#}
{#                            {% if field.errors %}#}
{#                                <ul class="form-errors">#}
{#                                {% for error in field.errors %}#}
{#                                    <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>#}
{#                                {% endfor %}#}
{#                                </ul>#}
{#                            {% endif %}#}
{#                        {{ form.as_p }}#}
{#                    {% endfor %}#}
{#           </div>#}
{#        {% for field in form %}#}
{#      <div class="form-group{% if field.errors %} invalid{% endif %}">#}
{#        <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#        {{ field }}#}
{#        {% for error in field.errors %}#}
{#          <p class="help-block">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </div>#}
{#    {% endfor %}#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="submit" class="btn btn-primary"><i class="fa fa-plus" style="font-size:20px;color:white"></i> ADD</button>#}
{#      </div>#}
{#    </form>#}
{#    </div>#}
{##}
{#  </div>#}
{#</div>#}

{#<h5>Add book information</h5>#}
{#{% if form.errors.non_field_errors %}#}
{#  {{ form.errors.non_field_errors }}#}
{#{% endif %}#}
{#<form method="POST" action="{% url 'wordbook:add_word' %}">#}
{#  {% csrf_token %}#}
{#  {{ form.non_field_errors }}#}
{#  {{ form.source.errors }}#}
{#  {{ form.source }}#}
{#  <!--Form content-->#}
{#  {{form.as_p}}#}
{#  <!--Form button-->#}
{#  <button class="btn waves-effect waves-light" type="submit" name="action">Submit form#}
{#  </button>#}
{#</form>#}
{#<form method="post" action="">#}
{#  {% csrf_token %}#}
{##}
{# <div class="modal-header">#}
{#    <h5 class="modal-title">Create new Book</h5>#}
{#    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#      <span aria-hidden="true">&times;</span>#}
{#    </button>#}
{#  </div>#}
{##}
{#  <div class="modal-body">#}
{#    {% for field in form %}#}
{#      <div class="form-group{% if field.errors %} invalid{% endif %}">#}
{#        <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#        {{ field }}#}
{#        {% for error in field.errors %}#}
{#          <p class="help-block">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </div>#}
{#    {% endfor %}#}
{#  </div>#}
{##}
{#  <div class="modal-footer">#}
{#    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#    <button type="button" class="submit-btn btn btn-primary">Create</button>#}
{#  </div>#}
{##}
{#</form>#}